# Terraform
*.tfstate
*.tfstate.*
crash.log
*.log
*.tfvars
.terraform/
.terraform.lock.hcl

# Local .env files
.env*

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Backup files
*.bak
*.swp
*.swo
